
<div class="row">
    <div data-ng-repeat="c in vm.coffeehouses |filter:tagFilter | filter:query" class="col-md-3" >
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h5>{{c.name}}</h5>
            </div>
            <div class="panel-body">
                <div class="col-md-8">
                    <h4>Adress</h4>
                    <p>{{c.zipcode}} <span>{{c.city}}</span>
                    <p>{{c.street}}</p>
                </div>
                <div class="col-md-4">
                    <img class="img-responsive" src="{{vm.imageUrl}}">
                </div>
            </div>
            <div class="panel-footer">
                <a href="coffeehouse/{{c.id}}" class="btn btn-xs btn-success">Visa mer information</a>
            </div>
        </div>
    </div>
</div>
</div>