<h1>CoffeehouseView</h1>
<div data-ng-if="coffeehouseList.positionError">
    <div class="alert alert-danger">
        <h4>{{coffeehouseList.errorMsg}}</h4>
    </div>
</div>
<div class="row">
    <div data-ng-repeat="c in coffeehouseList.coffeehouses" class="col-md-3" >
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h5>{{c.name}}</h5>
            </div>
            <div class="panel-body">
                <h4>Adress</h4>
                <p>{{c.zipcode}} <span>{{c.city}}</span>
                <p>{{c.street}}</p>
            </div>
            <div class="panel-footer">
                <a href="coffeehouse/{{c.id}}" class="btn btn-xs btn-success">Visa mer information</a>
            </div>
        </div>
    </div>
</div>
</div>