.navbar{
    background-color: #18bc9c !important;
    text-align: center;
    color: #ffffff !important;
}

.navbar-brand{
    font-size: 2.0em;
}
a:hover, .nav li a:hover{
    color: #000000 !important;
}
.navbar-brand, .nav li a{
    color: #ffffff !important;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;

}

body {
    padding-top: 70px;
    background-color: #2e2e2e !important;
    color: #ffffff !important;
}

.map{
    height: 100%;
}

.panel-body {
    color: #000000;
}

option, select{
    color: #ffffff;
    font-weight: 200;
}
